.row.align-items-stretch {
  display: flex;
  flex-wrap: wrap;
}
.card.h-100 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

input[type="range"] {
  width: 100%;
  background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4px; /* Center the thumb */
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #007bff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #ddd;
  border-radius: 5px;
}

datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
}

datalist option {
  position: relative;
  text-align: center;
}

datalist option::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 10px;
  background: #ddd; /* Match the slider line color */
}

.card-header,
.card-header h5 {
  color: #fff !important;
}

/* Custom styles for expense summary chart */
.expense-summary-legend {
  margin-top: 15px;
} 